<% @bus_stop_arrivals_infos.each do |bus_stop_arrivals_info| %>
  <h1><%= bus_stop_arrivals_info.stop_name %></h1>
  <table>
    <thead>
    <tr>
      <th>
        Line Name
      </th>
      <th>
        Destination
      </th>
      <th>
        Expected Arrival (Mins)
      </th>
    </tr>
    </thead>
    <tbody>
    <% bus_stop_arrivals_info.bus_arrivals.each do |arrival| %>
      <tr>
        <td>
          <%= arrival.line_number %>
        </td>
        <td>
          <%= arrival.destination %>
        </td>
        <td>
          <%= arrival.mins_to_arrive %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

